name: CI/CD Pipeline

on:
  push:
    branches: [ "main", "ci_cd" ]
  pull_request:
    branches: [ "main", "ci_cd" ]

env:
  IMAGE_NAME: student_service
  VALIDATE_JAVA: true
  DEFAULT_BRANCH: main
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  # JOB 1: Test the code
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Run Super-Linter
        uses: github/super-linter@v5